html {
    text-align: center;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: #1d2652;
    text-transform: ;
    letter-spacing: 1px;
}

body {
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #1CD3F8;
}

.caja {
    margin: auto;
    max-width: 600px;
    background-color: #1CD3F8;
    border-radius: 10px;
    padding: 10px;
    box-shadow: inset 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        inset -6px -6px 10px -1px rgba(255, 255, 255, 0.6);
    margin-bottom: 20px;
    margin-top: 20px;

}

p {
    text-align: justify;
    margin: 20px;

}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: justify;
    width: 80%;
}

h1 {
    font-size: 1.55vw;
    margin-top: 10px;
    color: #1d2652;
}

img {
    width: 100%;
    margin: auto;

}

.image {
    margin-bottom: 10px;
    display: flex;
    border-radius: 10px;
    width: 250px;
    align-items: center;
}

.button {
    border-radius: 10px;

}

.cj_btn {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

footer {
    align-items: center;
}

/*Principio del efecto botones*/
.banner {
    width: 50%;
    top: 0;
    left: 0;
    transition: all 0.15s linear 0s;
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    background-color:#FFE800;
    border-radius: 10px;
    text-transform: uppercase;
    color: $brown;
    font-family: arial;
    letter-spacing: 1px;
    box-shadow: -6px 6px 0 #000000;
    text-decoration: none;

    &:hover {
        top: 1.5px;
        left: -1.5px;
        box-shadow: -3px 3px 0 $brown;
        

        &::after {
            top: 0px;
            left: -1px;
            width: $angle-o;
            height: $angle-o;
        }

        &::before {
            bottom: 0px;
            right: -1px;
            width: $angle-o;
            height: $angle-o;
        }
    }

    &::after {
        transition: all 0.15s linear 0s;
        content: "";
        position: absolute;
        top: 2px;
        left: -4px;
        width: $angle;
        height: $angle;
        background-color: $brown;
        transform: rotate(45deg);
        z-index: -1;
    }

    &::before {
        transition: all 0.15s linear 0s;
        content: "";
        position: absolute;
        bottom: -4px;
        right: 2px;
        width: $angle;
        height: $angle;
        background-color: $brown;
        transform: rotate(45deg);
        z-index: -1;
    }
}

a.banner {
    position: relative;
}

a:active.banner {
    top: 6px;
    left: -6px;
    box-shadow: none;

    &:before {
        bottom: 1px;
        right: 1px;
    }

    &:after {
        top: 1px;
        left: 1px;
    }
}
/*Final del efecto botones*/
.btn {
    top: 0;
    left: 0;
    transition: all 0.15s linear 0s;
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    background-color:#FFE800;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: arial;
    letter-spacing: 1px;
    box-shadow: -6px 6px 0 #000000;
    text-decoration: none;

    &:hover {
        top: 1.5px;
        left: -1.5px;
        box-shadow: -3px 3px 0 $brown;
        

        &::after {
            top: 0px;
            left: -1px;
            width: $angle-o;
            height: $angle-o;
        }

        &::before {
            bottom: 0px;
            right: -1px;
            width: $angle-o;
            height: $angle-o;
        }
    }

    &::after {
        transition: all 0.15s linear 0s;
        content: "";
        position: absolute;
        top: 2px;
        left: -4px;
        width: $angle;
        height: $angle;
        background-color: $brown;
        transform: rotate(45deg);
        z-index: -1;
    }

    &::before {
        transition: all 0.15s linear 0s;
        content: "";
        position: absolute;
        bottom: -4px;
        right: 2px;
        width: $angle;
        height: $angle;
        background-color: $brown;
        transform: rotate(45deg);
        z-index: -1;
    }
}

a.btn {
    position: relative;
}

a:active.btn {
    top: 6px;
    left: -6px;
    box-shadow: none;

    &:before {
        bottom: 1px;
        right: 1px;
    }

    &:after {
        top: 1px;
        left: 1px;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 2.5vw !important;
        line-height: 100%;
        margin-top: 10px;
    }

    .banner {
        width: 90%;
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        text-align: center;
        width: 90%;
    }

    .btn {
        width: 250px;
    }

    img {
        width: 100%;
        justify-items: center;
    }

    .cj_btn {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    button {
        width: 300px;
        transition: all .15s linear 0s;
        background-color: #FFE800;
        border-radius: 10px;
        text-transform: uppercase;
        color: #1d2652;
        font-family: arial;
        letter-spacing: 1px;
        box-shadow: -6px 6px 0 #1d2652;
        text-decoration: none;
        cursor: pointer;
    }

}