html {
    text-align: center;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: #1d2652;
    text-transform: ;
    letter-spacing: 1px;
}

body {
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #97ddea;
}

.caja {
    margin: auto;
    max-width: 800px;
    background-color: #d4f7ff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: -3px 3px 4px #00000096;

}

p {
    text-align: justify;
    margin: 20px;

}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: justify;
    width: 80%;
}

h1 {
    font-size: 1.5em;
    margin-top: 10px;
    color: #1d2652;
}

img {
    width: 100%;
    margin: auto;


}

.image {
    margin-bottom: 0px;
    display: flex;
    border-radius: 10px;
    width: 350px;
    align-items: center;

}

.link {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    border-radius: 10px;
    width: 100px;
    align-items: center;
    
}

.button {
    border-radius: 10px;

}

.cj_btn {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.cj_img {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

a {
    text-decoration: none;
}

p, h1, h2, h3, h4, text, footer {
    text-decoration: none;
    cursor: default;
}

footer {
    align-items: center;
}

/*Principio del efecto botones*/
.banner {
    margin-bottom: 10px;
    width: 800px;
    top: 0;
    left: 0;
    transition: all 0.15s linear 0s;
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    background-color: #FFE800;
    border-radius: 10px;
    text-transform: uppercase;
    color: $brown;
    font-family: arial;
    letter-spacing: 1px;
    box-shadow: -2px 2px 4px #000000;
    text-decoration: none;


    &:hover {
        top: 0px;
        left: -0px;
        box-shadow: -8px 8px 6px #00000096;
    }
}

a.banner {
    position: relative;
}

a:active.banner {
    top: 6px;
    left: -6px;
    box-shadow: none;

    &:before {
        bottom: 1px;
        right: 1px;
    }

    &:after {
        top: 1px;
        left: 1px;
    }
}

/*Final del efecto botones*/
.btn {
    width: 350px;
    transition: all 0.15s linear 0s;
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    background-color: #FFE800;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: arial;
    letter-spacing: 1px;
    box-shadow: -2px 2px 4px #000000;
    text-decoration: none;

    &:hover {
        top: 0px;
        left: -0px;
        box-shadow: -8px 8px 6px #00000096;
    }
}

&::after {
    transition: all 0.10s linear 0s;
    content: "";
    position: absolute;
    top: 2px;
    left: -4px;
    width: $angle;
    height: $angle;
    background-color: $brown;
    transform: rotate(45deg);
    z-index: -1;
}

&::before {
    transition: all 0.10s linear 0s;
    content: "";
    position: absolute;
    bottom: -4px;
    right: 2px;
    width: $angle;
    height: $angle;
    background-color: $brown;
    transform: rotate(45deg);
    z-index: -1;
}
}

a.btn {
    position: relative;
}

a:active.btn {
    top: 6px;
    left: -6px;
    box-shadow: none;

    &:before {
        bottom: 1px;
        right: 1px;
    }

    &:after {
        top: 1px;
        left: 1px;
    }
}

@media screen and (max-width: 900px) {
    h1 {
        font-size: 2.5vw !important;
        line-height: 100%;
        margin-top: 10px;
    }

    .banner {
        width: 88%;
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        text-align: center;
        width: 90%;
    }

    .btn {
        width: 350px;
    }

    img {
        width: 100%;
        justify-items: center;
    }

    .cj_btn {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .cj_img {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .link {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        border-radius: 10px;
        width: 250px;
        align-items: center;
    }

    button {
        width: 300px;
        transition: all .15s linear 0s;
        border-radius: 10px;
        text-transform: uppercase;
        color: #1d2652;
        font-family: arial;
        letter-spacing: 1px;
        box-shadow: -6px 6px 0 #1d2652;
        text-decoration: none;
        cursor: pointer;
    }

    .caja {
        margin: auto;
        max-width: 600px;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
        box-shadow: -2px 2px 0 #00000096;

    }